.lrc-player {
    background-color: hsl(39,100%,80%);
    padding: 0 .5em;
    max-width: 400px;
    margin: auto;
}

.lrc-left-box {
    float: left;
    width: 3em;
    height: 5em;
}
.lrc-main-box {
    margin-left: 3.5em;
}

.lrc-play-btn {
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin: .6em auto 0 auto;
    cursor: pointer;
    border-radius: 50%;
}
.lrc-play-btn:hover {
    background-color: rgba(255,255,255,.6);
}

.lrc-time-box {
    opacity: .6;
    text-align: center;
    width: 3em;
    pointer-events: none;
}

.lrc-chunk {
    white-space: pre;
}

.lrc-chunk rt {
    transform: translateY(0.2rem);
}

.lrc-chunk-ftr {
    opacity: .25;
}
.lrc-chunk-prs {
    animation: lrc-chunk-showing ease-out 300ms;
}

@keyframes lrc-chunk-showing {
    from {opacity: .25;}
    to {opacity: 1;}
}

.lrc-line-orig {
    line-height: 3.1em;
    min-height: 3.1em;
}

.lrc-line-trans {
    height: 1em;
    line-height: 1em;
    color: #00a;
    margin-top: -.5em;
    padding-bottom: 1em;
}

.lrc-anim-enter {
    opacity: 0;
    transform: translateX(.2em);
}
.lrc-anim-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 150ms ease-out, transform 150ms ease-out;
}
.lrc-anim-exit {
    opacity: 1;
    transform: translateX(0);
}
.lrc-anim-exit-active {
    opacity: 0;
    transform: translateX(-.2em);
    transition: opacity 150ms ease-out, transform 150ms ease-out;
}